@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
html {
  height: 100vh;
  padding: 0;
}

body {
  min-height: 100vh;
  padding: 0;
}

html, body {
  /* background: #eeeeee;
  background: linear-gradient(180deg, #ffffff 0%, #adadad 100%); */
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(134, 134, 134, 1) 100%);
  color: black;
  font-family: "Dosis";
  margin: 0;
}

.transition {}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.wrapper .profile {
  padding-top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  grid-column: 2;
}

.wrapper .profile .profile-image {
  border: 5px solid #000000;
  border-radius: 50%;
  width: calc(min(50vw, 250px));
  cursor: pointer;
  transition: 0.3s;
}

.wrapper .profile .profile-image:hover {
  opacity: 0.7;
  box-shadow: 0 0 20px rgb(65, 102, 184);
}

.wrapper .profile .profile-name {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2.5rem;
}

.wrapper .profile .profile-description {
  margin-top: 20px;
  padding: 0;
  width: 60%;
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(37, 37, 37);
}

.wrapper .profile .profile-description #descriptionSpan {
  border-top: 1px solid rgb(175, 175, 175);
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper .profile #contactsSpan {
  border-top: 1px solid rgb(175, 175, 175);
  display: inline-block;
  padding-top: 20px;
}

.wrapper .profile .contacts {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin-top: 0;
}

.wrapper .profile .contacts .contact-item {
  padding: .3em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .profile .contacts .contact-item:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.wrapper .profile .contacts .contact-item img {
  width: 2.5em;
  filter: none;
}

.wrapper .profile .contacts .contact-item img.lg {
  width: 2.9em;
}

.wrapper .profile-wrapper .profile .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper .profile .location img {
  width: 2.4em;
}

.wrapper .profile .location p {
  font-size: .9em;
  font-weight: bold;
  margin: .2em;
  /* color: rgba(0, 0, 0, 0.7); */
}

/*
 * Darkmode 
*/

.dark-mode {
  /* background: #090C10;
  background: linear-gradient(180deg, rgba(9, 12, 16, 1) 0%, rgba(15, 20, 27, 1) 100%); */
  color: #ffffff;
  background: rgb(32, 43, 59);
  background: radial-gradient(circle, rgba(32, 43, 59, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.dark-mode .wrapper .profile .contacts .contact-item img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.dark-mode .wrapper .profile .location img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.dark-mode .wrapper .profile .profile-image {
  border: 5px solid #ffffff;
}

.dark-mode .wrapper .profile .profile-description {
  color: rgb(175, 175, 175);
}

/*
 * Darkmode switch  
*/

/* The switch - the box around the slider */

/* 
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  float: right;
  padding: 15px;
  margin: 0;
  margin-top: .5em;
}



.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}



.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  z-index: 3;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider .slider-img {
  height: 2em;
  z-index: 1;
} */

/* ___________________________ */

.switch {
  position: relative;
  width: 130px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("../img/night.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, .7);
  transition: background-image .7s ease-in-out;
  outline: none !important;
  cursor: pointer;
  overflow: hidden;
  float: right;
  margin-bottom: 4px !important;
}

.switch:checked {
  background-image: url("../img/day.png");
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.switch:after {
  content: '';
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
  transform: translateX(0px);
  animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes off {
  0% {
    transform: translateX(80px);
    width: 46px;
  }
  50% {
    width: 75px;
    border-radius: 25px;
  }
  100% {
    transform: translateX(0px);
    width: 46px;
  }
}

.switch:checked:after {
  animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes on {
  0% {
    transform: translateX(0px);
    width: 46px;
  }
  50% {
    width: 75px;
    border-radius: 25px;
  }
  100% {
    transform: translateX(80px);
    width: 46px;
  }
}

.switch:checked:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  transform-origin: 53px 10px;
  background-color: transparent;
  box-shadow: 5px -1px 0px #fff;
  filter: blur(0px);
  animation: sun .7s forwards ease;
}

@keyframes sun {
  0% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }
  50% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }
  90% {
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
  }
  100% {
    transform: rotate(0deg);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
  }
}

.switch:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  filter: blur(1px);
  background-color: #f5daaa;
  box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
  transform-origin: 53px 10px;
  animation: moon .7s forwards ease;
}

@keyframes moon {
  0% {
    transform: rotate(0deg);
    filter: blur(1px);
  }
  50% {
    filter: blur(1px);
  }
  90% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }
  100% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }
}
.navbar{
  border-radius: 0% !important;
}
.navbar-nav {
  margin: 4px 0 !important;
}

.navbar-brand {
  margin: 4px 0;
}